<?xml version="1.0"?>
<archive version="4.0" sub="VV">
<TargetIP>224.0.0.2</TargetIP>
<TargetIPPort>49184</TargetIPPort>
<HostIP>0.0.0.0</HostIP>
<HostIPPort>7778</HostIPPort>
<DBPath>/home/victor/workdisk/TEST/</DBPath>
<IsDebugMode>0</IsDebugMode>
<DebugTSFile></DebugTSFile>
<DynamicFileTmpPath>/home/victor/workdisk/TEST/DynamicTemp/</DynamicFileTmpPath>
<LogPath>/home/victor/workdisk/TEST/Log/</LogPath>
<DefaultDBName>Default</DefaultDBName>
<DefaultBitRate>8000000</DefaultBitRate>
<SPTSFilePath>/home/victor/workdisk/TEST/TSFile/</SPTSFilePath>
<IsDVBMode>0</IsDVBMode>
<IsQAMMode>0</IsQAMMode>
<QAMFreqHz>4000000</QAMFreqHz>
<DeviceType>245</DeviceType>
</archive>
