<?xml version="1.0"?>
<archive version="4.0" sub="VV">
<Items size="1">
	<item>
		<HostIP>172.16.26.176</HostIP>
		<HostIPPort>10007</HostIPPort>
		<ChannelName>TestSuite</ChannelName>
		<PID>1002</PID>
		<TSParams>11:12:13:14:15:16:3EA:18</TSParams>
		<IBLPath>/home/victor/HostShare/Test1/</IBLPath>
		<PathGuid>7D08DB53-A18A-48b5-B3B6-30225156C5C0</PathGuid>
		<TimerInterval>30000</TimerInterval>
		<RunMode>0</RunMode>
		<DebugPath>/home/victor/workdisk/TEST/Debug/</DebugPath>
	</item>
</Items>
</archive>
<!--
TSParams 必须写满以下参数（均直接写成16进制）：
频点:符号率:QAMType:TSID:NetworkID:ServiceID:PID:timeout 
RunMode  
0 普通模式 
1 普通将LOG写入文件 
100 调试 将TS写入文件 
101 调试 将TS写入文件 将LOG写入文件
写入的文件名称均为 GUID ＋ LOG 或者TS
-->
